.fylo__signin {
    position: relative;
    left: 30em;
    top: 8em;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: hsl(217, 28%, 15%);
    width: 50vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fylo__signin-form button {

    background-color: hsl(198, 60%, 50%);
    margin-top: 1.1em;
    font-family: var(--font-raleway);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 200px;
    height: 50px;
    border-radius: 10rem;
    border: none;
    cursor: pointer;

}

.fylo__signin-form button:hover {
    background-color: hsl(176, 68%, 64%);
}

.fylo__signin-text h1 {
    text-align: center;
    font-family: var(--font-raleway);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    white-space: pre-line;
    font-size: 2.5em;
    margin-top: 0.7em;
}

.fylo__signin-form form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
    margin-left: 8em;
}

.fylo__signin-text p {
    margin: 1em;
    color: #cecece;
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 1rem;
}


@media screen and (max-width: 1440px) {
    .fylo__signin {
        position: relative;
        left: 19.5em;
    }

    .fylo__signin-form button {
        font-size: 0.9em;
        width: 170px;
        position: relative;
        left: -5em;
    }



    .fylo__signin-text h1 {
        font-size: 2em;
        margin-top: 0.7em;
    }



    .fylo__signin-text p {
        margin: 2.45em;
        font-size: 0.8rem;
    }


}



@media screen and (max-width: 1080px) {
    .fylo__signin {
        position: relative;
        left: 15em;
    }

    .fylo__signin-form button {
        width: 150px;
        position: relative;
        left: -4em;

    }

}


@media screen and (max-width: 750px) {
    .fylo__signin {
        position: relative;
        left: 12em;
    }

    .fylo__signin-form button {
        width: 100px;
        position: relative;
        left: -5em;
        font-size: 0.8em;
    }

}

@media screen and (max-width: 550px) {

    .fylo__signin {
        position: relative;
        left: 2.5em;
        width: 80vw;
        height: 40vh;
    }

    .fylo__signin-form button {
        width: 250px;
        position: relative;
        left: -5em;
        font-size: 0.8em;
    }

    .fylo__signin-form form {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {


    .fylo__signin-form button {
        width: 200px;
        position: relative;
        left: -5em;
        top: -.2em;
        font-size: 0.8em;
        height: 45px;
    }

    .fylo__signin-form form {
        display: flex;
        flex-direction: column;
    }

    .fylo__signin-text h1 {
        font-size: 1.5em;
    }



    .fylo__signin-text p {
        font-size: 0.761rem;
        text-align: center;
        margin: .8em;
    }


}