.fylo__stayproductive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.fylo__stayproductive-container {
    margin-left: 3em;
}

.fylo__stayproductive-container h1 {
    font-family: var(--font-raleway);
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-top: 0.8em;
}

.fylo__stayproductive-container p {
    font-size: .9em;
    color: #cecece;
    font-family: var(--font-open-sans);
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fylo__stayproductive-link a {
    border-bottom: 2.5px solid;
    font-size: .9em;
    color: hsl(176, 68%, 64%);
    font-family: var(--font-open-sans);
    font-weight: 400;
    display: block;
    line-height: 25px;
    width: 10.47em;
}


a img {
    margin: auto;
    vertical-align: -.2em;
    display: inline-block;
}





a:hover {
    color: #cecece;
    filter: grayscale(100%);
}


@media screen and (max-width: 550px) {
    .fylo__stayproductive {
        margin-top: 15em;
        flex-direction: column;
    }

    .fylo__stayproductive-image img {
        width: 350px;
    }

    .fylo__stayproductive-container p {
        font-size: .8em;
    }
}