.fylo__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.fylo__navbar-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fylo__navbar-links_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fylo__navbar-links_container p {
    color: #cecece;
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 1.2em;
    line-height: 25px;
    text-decoration: none;

    margin: 0 1rem;

}

.fylo__navbar-links_container a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}


@media screen and (max-width: 550px) {
    .fylo__navbar {
        display: flex;
        align-items: center;
        padding: 2.5rem 0.5rem;
    }

    .fylo__navbar-logo img {
        width: 5.5em;
    }

    .fylo__navbar-links_container {
        display: flex;
        justify-content: flex-end;

    }

    .fylo__navbar-links_container p {
        font-size: 0.9em;
        text-decoration: none;
    }


}