* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: hsl(218, 28%, 13%);
    height: 100vh;
}

a {
    color: unset;
    text-decoration: none;
}

.fylo__header {
    background: hsl(219, 30%, 18%);
    height: 100vh;
}

@media screen and (max-width: 550px) {
    .fylo__header {
        height: 78.5vh;
    }
}