.fylo__footer {
    background: hsl(216, 53%, 9%);
    height: 60vh;
    padding: 20rem 1em;

}

.fylo__footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 8em;
}

.fylo__footer-social {

    color: #cecece;
}

.fylo__footer-social:hover {
    color: cyan;
}

.fylo__footer-facebook {
    cursor: pointer;
}

.fylo__footer-twitter {
    cursor: pointer;
}

.fylo__footer-instagram {
    cursor: pointer;
}

.fylo__footer-aboutus {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    position: relative;
    top: 3em;
}

.fylo__footer-aboutus p {
    font-size: .9em;
    color: #cecece;
    font-family: var(--font-raleway);
    font-weight: 400;
    line-height: 1.5em;
    cursor: pointer;

}

.fylo__footer-aboutus p:hover {
    color: hsl(0, 0%, 100%);
}

.fylo__footer-contactus {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    row-gap: 1.5em;
}

.fylo__footer-contactus p {
    font-size: .9em;
    color: #cecece;
    font-family: var(--font-open-sans);
    font-weight: 400;
    line-height: 1.5em;
    cursor: pointer;

}

.fylo__footer-contactus p:hover {
    color: hsl(0, 0%, 100%);
}

.fylo__footer-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.2em;
}

.fylo__footer-phone p {
    font-size: .7em;
    color: #cecece;
    font-family: var(--font-open-sans);
    font-weight: 400;
    line-height: 1.5em;

}

.fylo__footer-phone_box p {
    margin-left: 1em;
}

.fylo__footer-email_box p {
    position: relative;
    left: 1em;
}


.fylo__footer-phone_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fylo__footer-email_box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fylo__footer-location p {
    font-size: 1em;
    color: #cecece;
    font-family: var(--font-open-sans);

    line-height: 1.5em;
}

.fylo__footer-location img {
    position: relative;
    left: -2em;
    top: 1.75em;
}

.fylo__footer-social {
    position: relative;
    top: -0.5em;
}



@media screen and (min-width: 550px) {
    .footer-logo {
        display: none;
    }
}




@media screen and (max-width: 550px) {
    .fylo__footer {
        height: 140vh;

    }

    .fylo__footer-container {
        align-items: flex-start;

        flex-direction: column;
        row-gap: 4em;
        padding: 2.5em;
    }

    .fylo__footer-social {
        position: relative;
        left: 8em;
    }

    .fylo__footer-location p {
        font-size: 0.9em;


    }



}

@media screen and (max-width: 375px) {
    .fylo__footer {
        height: 210vh;
    }

    .fylo__footer-social {
        position: relative;
        left: 5em;
    }
}